<footer>
	<ul class="actions">
		<li>
			{{# prev_post}}
				<a href="{{url}}" class="button alt icon fa-chevron-left"><span class="label">上一篇</span></a>
			{{/prev_post}}
		</li>
		<li>
			{{# next_post}}
				<a href="{{url}}" class="button alt icon fa-chevron-right"><span class="label">下一篇</span></a>
			{{/next_post}}
		</li>
	</ul>
</footer>