<footer>
	<ul class="actions">
	{{# prev_post}}
		<li>
			<a href="{{url}}" class="button alt icon fa-chevron-left"><span class="label">上一篇</span></a>
		</li>
	{{/prev_post}}
	{{# next_post}}
		<li>
			<a href="{{url}}" class="button alt icon fa-chevron-right"><span class="label">下一篇</span></a>
		</li>
	{{/next_post}}
	</ul>
</footer>



