<footer>
	<ul class="actions">
		{{#if prev}}
			<li><a href="{{page_url prev}}" class="button alt icon fa-chevron-left"><span class="label">上一篇</span></a></li>
		{{/if}}
		{{#if next}}
			<li><a href="{{page_url next}}" class="button alt icon fa-chevron-right"><span class="label">下一篇</span></a></li>
		{{/if}}
	</ul>
</footer>