{{!< default}}

<section class="wrapper">
  <div class="wrapper-container">
    <header>
      <h2>{{tag.name}}</h2>
    </header>

    <section class="post-list">
      {{#foreach posts}}
        {{> post}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}
  </div>
</section>
